@use '../../constants/colors' as colors;

.wrapper{
    height: 100vh;
    height: 100%;
    padding: 1rem 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: colors.$black;
}