@use '../../constants/colors' as colors;

.wrapper{
    border: 2px solid red;
    width: 100%;
    padding: 1rem;
    margin-bottom: .55rem;
    .text_container{
        color: colors.$white;
        text-align: left;
        border: 1px solid colors.$white;
        margin-bottom: .5rem;
        border-radius: 4px;
        padding: 1rem .55rem;
        .title{
            font-weight: bold;
            font-size: 1.25rem;
            margin-bottom: .25rem;
        }
        .text{
            font-weight: 100;
            font-size: .85rem;
        }

    }
    .content{
        border: 2px solid red;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}