@use '../../constants/colors' as colors;

.wrapper{
    width: 100%;
    padding: 1rem;
    margin-bottom: 2rem;
    .text_container{
        color: colors.$white;
        text-align: left;
        border: 1px solid colors.$brown;
        background-color: colors.$bgtransparent;
        margin-bottom: 1.55rem;
        border-radius: 4px;
        padding: 1rem .55rem;
        box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
        .title{
            font-weight: bold;
            font-size: 1.25rem;
            margin-bottom: .25rem;
        }
        .text{
            font-weight: 200;
            font-size: .85rem;
            color: colors.$green;
        }

    }
    .content{   
        display: flex;
        justify-content: center;
        align-items: center;
    }
}